* {margin-left: 0px; box-sizing: border-box;  }


.padre{ background-color: gray;
    width: 100%;
    height: 60px;
    text-align: right;
    

   
   



}

.madre{ background-color: red;
    width: 100%;
    height: 60px;
    


}

main{ display: flex;
    justify-content: center;




}

.zapas{

    width: 60%;
    height:450px;
    align-content: center;



}

.pie{ background-color: gray;

width: 100%;
height: 60px;
text-align: center;


}